*{margin:0; padding:0;}
a{text-decoration: none;}
:focus{outline: none;}
ul,ol{list-style: none; padding:0;}

body {margin:0;padding:0;font-size:16px;background: #CDCDCD;}
header {height:50px;background:#333;background:rgba(47,47,47,0.98);}
section{margin:0 auto;}
label{float:left;width:100px;line-height:50px;color:#DDD;font-size:24px;cursor:pointer;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
header input{float:right;width:60%;height:24px;margin-top:12px;text-indent:10px;border-radius:5px;box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;border:none}
input:focus{outline-width:0}


h2{position:relative; margin: 20px 0;}
span{position:absolute;top:2px;right:5px;display:inline-block;padding:0 5px;height:20px;border-radius:20px;background:#E6E6FA;line-height:22px;text-align:center;color:#666;font-size:14px;}
ol,ul{padding:0;list-style:none;}
li input{position:absolute;top:6px;left:10px;width:22px;height:22px;cursor:pointer;}
p{margin: 0;}
li p input{top:3px;left:40px;width:70%;height:20px;line-height:14px;text-indent:5px;font-size:14px;}
li{height:32px;line-height:32px;background: #fff;position:relative;margin-bottom: 10px;
	padding:0 65px 0 45px;border-radius:3px;border-left: 5px solid #629A9C;box-shadow: 0 1px 2px rgba(0,0,0,0.07);}
ul li{border-left: 5px solid #999;opacity: 0.5;}
li a{position:absolute;top:7px;right:5px;display:inline-block;width:18px;height:18px;cursor:pointer;}
li a.info{background: url(../images/info.png) no-repeat; background-size: 100% 100%; right:45px;}
li a.edit{background: url(../images/edit.png) no-repeat; background-size: 100% 100%; right:25px;}
li a.del{background: url(../images/delete.png) no-repeat; background-size: 100% 100%; z-index: 10}
footer{color:#666;font-size:14px;text-align:center;}
footer a{color:#666;text-decoration:none;color:#999;}


/**/
.mask{position: absolute; left:0; top:0; bottom: 0; right:0; background: rgba(0,0,0,0.5);}
.todoinfo{width:500px; height: 300px; position: absolute; left:50%; margin-left: -250px; top:100px; background: #fff; border-radius: 5px; padding:10px 0;}
.todoinfo>h3{text-align:center; margin:3px 0 10px;}
.form-item{display: flex; font-size: 14px; margin-bottom:8px;}
.form-item .tit{width:100px; padding-left:20px; box-sizing: border-box; line-height: 30px;}
.form-item .content{flex:1; line-height: 30px;}
.form-item .content input[type=text]{height:26px; line-height: 26px; padding-left:5px;}
.form-item .content textarea{width:300px; height: 80px; padding:5px;}

.btns{height: 40px; text-align: right; padding-top:8px;}
.btn{display: inline-block; margin-right:10px; height: 26px; text-align:center; padding:0 8px; line-height: 26px; cursor: pointer; border-radius:3px;}
.commit{background: blue; color:#fff;}
.cancel{background:#ccc;}


/*尺寸不大于620px时*/
@media screen and (max-width: 620px) {section{width:96%;padding:0 2%;}}

@media screen and (min-width: 620px) {section{width:600px;padding:0 10px;}}
